.loader {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999999999999;
  background-color: #ffffffc4;
}
