.container-info-create-account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 24px;
  margin-right: 10px;

  .label-info {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.4px;
    color: #777777;
    margin-right: 16px;
  }

  .icon-new-account{
    writing-mode:vertical-rl;
     position: absolute;
    right: 15px;
    top: 22px;
    color: #8a8a8a;
  }

  .link-menu-cadastro{
    cursor: pointer;
  }

  @media screen and (max-width: 850px) {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;

    .label-info-1{
       display: none;
    }

    .icon-new-account{
      writing-mode:vertical-rl;
      position: absolute;
      right: -7px;
      top: -1px;
    }
  }
}
