.main-confirmation{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  &:before {
    content: "";
    background-image: url(../../assets/img/BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

}

.confirmation-main {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  .content-confirmation {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.container-confirmation-text {
  width: 210px;
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-align: center;
}

.container-confirmation-secundary-text {
  width: 250px;
  font-size: 10px;
  color: white;
  font-weight: 100;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 0.1em;
}

.button-confirmation{
  width: 270px;
  
}

.btn{
  display: block;
}

.disablesButton{
  pointer-events: none !important;
}



