.align-center-form {
  max-width: 327px;
  margin: 0 auto 70px;
  margin-top: 10vh;
  width: 100%;

  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #2e444d;
    margin-bottom: 0;
  }

  .buttonVer {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.4px;
    color: #777777;
    margin-bottom: 10px;
  }
  a {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 400;
  }

  @media screen and (max-width: 850px){
    max-width: unset;
    width: 100%;
    margin-top: 0;
  }

  .btn-enviar{
    font-size: 18px;
  }
}

.link-confirmacao-login{
  color: #0000ee !important;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.link-confirmacao-login-disabled{
  color: #b0b0c4c0 !important;
  text-decoration: underline;
  cursor: not-allowed;  
  pointer-events: none !important;
}
