.align-center-form {
  max-width: 327px;
  margin: 0 auto 70px;
  margin-top: 15vh;
  width: 100%;

  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #2e444d;
    margin-bottom: 0;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.4px;
    color: #777777;
    margin-bottom: 19px;
  }

  .btn-enviar{
    font-size: 18px;
  }

  @media screen and (max-width: 850px){
    max-width: unset;
    width: 100%;
    margin-top: 0;
  }
}
