.card-nova-conta {
  position: absolute;
  right: 15px;
  top: 50px;
  width: 130px;
  height: 70px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #e9eaea;
  padding: 7px 0px 0px 15px;

  .link-label{
    cursor: pointer;
  }

  
  @media screen and (max-width: 850px) {
    right: 0px !important;
    top: 25px !important;
  }
}
